<turbo-frame id="planet-card-{{ planet.id }}">
    <div class="p-4">
        <h4>
            <a class="" href="{{ path('app_planet_show', { id: planet.id }) }}">
                {{ planet.name }}
            </a>
        </h4>
        <small>{{planet.lightYearsFromEarth|round|number_format }} ly</small>
    </div>
</turbo-frame>