{% if pageCount > 1 %}
    <nav>
        <ul class="pagination justify-content-center">
        {% if previous is defined %}
            <span class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Previous</a>
            </span>
        {% endif %}

        {% if next is defined %}
            <span class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Next</a>
            </span>
        {% endif %}
        </ul>
    </nav>
{% endif %}