<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="view-transition">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}


        <div data-controller="modal" class="flex justify-between" data-action="turbo:before-cache@window->modal#close">
            <dialog
                    class="rounded shadow text-bg-dark fade-in border-0 my-0 dialog"
                    data-modal-target="dialog"
                    data-action="click->modal#clickOutside"
            >
                <div class="flex grow p-5">
                    <div class="grow overflow-auto p-1">
                        <button
                                class="text-light position-absolute btn btn-light text-bg-dark border-0 dialog-close"
                                style="top:5px; right:5px"
                                type="button"
                                data-action="click->modal#close"
                                data-modal-target="dialogClose"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" style="width:20px" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M18 6l-12 12"/>
                                <path d="M6 6l12 12"/>
                            </svg>
                        </button>
                        <turbo-frame
                                id="modal"
                                data-modal-target="dynamicContent"
                                data-action="turbo:before-fetch-request->modal#showLoading turbo:before-fetch-response->modal#beforeRender turbo:submit-start->modal#submitStart turbo:submit-end->modal#submitEnd"
                        >
                            {{ include('partial/_frameSuccessStreams.html.twig', { frame: 'modal' }) }}
                        </turbo-frame>
                    </div>
                </div>
            </dialog>
            <template data-modal-target="loadingContent">
                <div class="d-flex justify-content-center m-3">
                    <div class="spinner"></div>
                </div>
            </template>
        </div>

        <div id="flash-container" data-turbo-temporary class="position-fixed">
            {{ include('partial/_flashes.html.twig') }}
        </div>
    </body>
</html>
